body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(212, 45%, 89%);
}

.container{
    border: 0 solid;
    border-radius: 25px;
    position: relative;
    height: 70%;
    max-width: 300px;
    margin: auto;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    
}

h3, p{
    text-align: center;
}

img{
    width: 100%;
    margin: auto;
    border-radius: 15px;
}

.attribution{
    border: solid;
}